/*---------------------------------MAIN SETTINGS---------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/bg.png') no-repeat;
    background-size: 100%;
    font: normal 14px Tahoma;
    color: #fff;
    padding:110px 140px 40px;
}

.wrap {
    width: 890px;
    margin: auto;
}
/*---------------------------------HEADER---------------------------------------------*/
.header {
    margin-bottom: 15px;
}

.clear-fix:after {
    content: '';
    clear: both;
    display: block;
}

.logo-wrap {
    text-align: center;
    width: 290px;
    float: left;
}

.logo {
    width: 100%;
}

.palm {
    float: right;
    position: relative;
    display: block;
    top: 80px;
    margin-top: -150px;
}

.contacts {
    width: 180px;
    float: right;
    margin-top: 7px;
}
/*---------------------------------CONTENT---------------------------------------------*/
.country {
    display: inline-block;
    text-align: center;
    width: 33%;
    margin-bottom: 50px;
    font-size: 17px;
}

.country img{
    width: 100%;
}


/*---------------------------------FOOTER---------------------------------------------*/
.footer {
    margin-top: 300px;
    text-align: center;
}